body{
    background: #1b83c9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9aa6b3, #c7c4bd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #15c1df, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: rgb(14, 13, 13);
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}


